*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: 1.4;
  color: $color-text;
  background-color: $color-background;
}

a {
  color: $color-primary;
  text-decoration: none;
}
