@import 'variables';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: 1.4;
  color: $color-text;
  background-color: $color-background;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  font-family: $font-family-heading;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

p {
  margin: 0 0 1rem 0;
}

a {
  color: $color-primary;
  text-decoration: none;
  border-bottom: 1px dashed;

  &:focus,
  &:hover {
    border-bottom: 1px solid;
  }

  [class^="icon"] {
    vertical-align: middle;
  }
}

.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
}

.details {
  padding: 0 1rem;
  margin: 0 0 1rem 0;
}

.links {
  padding: 0;
  margin: 0 0 1rem 0;

  li {
    display: inline-block;
    padding-right: 0.5rem;
  }
}

.section-title {
  font-weight: bold;
  text-transform: uppercase;
  border-top: 2px solid $color-background;
  padding: 0.5rem 0;
}

.item-title {
  font-size: 1.2rem;
  font-weight: bold;
}

@media print {
  font-size: 12px;

  body,
  .container {
    background: transparent;
  }

  .container {
    max-width: none;
    margin: 0;
    padding: 0.5mm;
  }

  .item {
    page-break-inside: avoid;
  }

  @page {
    margin: 1cm;
  }
}
