@import 'variables';

@mixin nice-underline ($underline-color, $background-color: $color-background, $border-width: 6px, $underline-bottom: 1px, $underline-width: 3px) {
  text-shadow:
    (-$border-width/2) ($border-width/2) 0 $background-color,
    (-$border-width)   ($border-width)   0 $background-color,
    ($border-width/2)  ($border-width/2) 0 $background-color,
    ($border-width)    ($border-width)   0 $background-color;

  background-image: linear-gradient(to top,
    transparent 0,
    transparent $underline-bottom,
    $underline-color $underline-bottom,
    $underline-color ($underline-bottom + $underline-width),
    transparent ($underline-bottom + $underline-width));
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 14px;

  @media (min-width: $large-enough-screen) {
    font-size: 16px;
  }
}

body {
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: 1.4;
  color: $color-text;
  background-color: $color-background;
}

section {
  max-width: 840px;
  padding: 0 $gutter;
  margin: ($gutter * 2) auto;
}

a {
  color: $color-primary;
  text-decoration: none;
}

[class^="icon-"],
[class*=" icon-"] {
  vertical-align: text-top;
  font-size: 1.2em;
}

header,
header h1 {
  margin-bottom: ($gutter * 2);
}

header p {
  margin-bottom: ($gutter / 2);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: ($gutter / 2);

  &:last-child {
    margin-right: 0;
  }
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-family: $font-family-heading;
  line-height: 1.2;
}

h1 {
  font-size: 2.6rem;

  strong {
    @include nice-underline($color-secondary);
    color: $color-primary;
  }
}

h2 {
  color: $color-primary;
  font-size: 1.8rem;

  @media (min-width: $large-enough-screen) {
    font-size: 2.2rem;
  }
}

main,
footer {
  @media (min-width: $large-enough-screen) {
    padding: 0 ($gutter * 2);
  }
}

.highlight {
  display: inline-block;
  background-color: #fff;
  padding: 6px 8px;
}

.project {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  margin-bottom: $gutter;
  background-color: #fff;
  border-radius: 6px;

  @media (min-width: $large-enough-screen) {
    height: 360px;
  }
}

.project__link {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &:focus,
  &:hover {
    ~ .project__background {
      opacity: 1;
      filter: blur(0) grayscale(0);
      transform: scale(1);
    }

    ~ .project__content {
      transform: translateY(-40%);
      opacity: 0;
    }
  }
}

.project__content,
.project__background {
  transition: all 300ms ease-out;
}

.project__content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 $gutter;
  transform: translateY(-50%);
  text-align: center;

  h2 {
    margin-bottom: 5px;
  }

  p {
    font-size: 0.8rem;
    color: $color-muted;
    text-transform: uppercase;
  }
}

.project__background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  filter: blur(4px) grayscale(1);
  transform: scale(1.1);

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

footer {
  text-align: center;
}
