---
layout: default
---

<section class="hero">
    <h1 class="hero__heading">Bonjour! I'm Gabin Aureche, a front-end developer focused on <strong>user experience</strong>.</h1>
</section>

<section class="block">
    <h3 class="block-heading">
        <span class="block-heading__left">Scribbles</span>
        <span class="block-heading__right">Subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></span>
    </h3>

    {% for post in site.posts %}
    <article class="post">
        <h2 class="post__title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post__meta">
            {% for category in post.categories %}
            <span class="tag">{{ category }}</span>
            {% endfor %}
            {{ post.date | date: "%b %-d, %Y" }}
        </div>
    </article>
    {% endfor %}
</section>


<div class="block">
    <h3 class="block-heading no-margin">
        <span class="block-heading__left">Projects</span>
    </h3>
</div>

<section class="experiments">
    {% for experiment in site.data.experiments %}
        <div class="experiments__item">
            <article class="experiment" style="border-color: {{ experiment.color }};">
                <h2 class="experiment__title"><a href="{{ experiment.url }}">{{ experiment.title }}</a></h2>
                <p class="experiment__description">{{ experiment.description }}</p>
            </article>
        </div>
    {% endfor %}
</section>