@keyframes blink {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#typejs {
  position: relative;

  &.typing:after {
    display: block;
  }

  &:after {
    display: none;

    content: "";
    position: absolute;
    right: 0;
    top: 5%;
    height: 90%;
    width: 4px;
    background-color: $text-color;
    animation: blink 800ms infinite;
  }
}

.typejs-heading {
  @extend .panel;
  font-size: 300%;
  padding: $relation-none;
}