---
layout: reveal
title: AngularJS @ Wizbii
excerpt: AngularJS @ Wizbii
---

<section data-background="army-speech.jpg">
	<h1>AngularJS</h1>
	<h3>@Wizbii</h3>

	<p>
		<img src="https://angularjs.org/img/AngularJS-large.png" width="250" alt=""/>
		<img src="http://en.wizbii.com/bundles/wizbiicore/images/logo.svg" width="200" alt=""/>
	</p>
</section>

<section>
	<h2>Wizbii</h2>

	<p>
		Un réseau social professionnel qui aide...
	</p>

	<ul>
		<li><strong>Les 18-30 ans</strong> à trouver un emploi</li>
		<li>Les <strong>entreprises à recruter sur cette cible</strong></li>
	</ul>

	<p>
		Le "linkedin" des 18-30.
	</p>
</section>

<section data-background="team.jpeg">
	<!--
	<h2 class="fragment">Managers</h2>

	<ul>
		<li class="fragment">Emeric - Chef Produit</li>
		<li class="fragment">Rémi - CTO</li>
		<li class="fragment">Anthony P. - Lead</li>
	</ul>

	<br/><br/>

	<h2 class="fragment">Back-End</h2>

	<ul>
		<li class="fragment">Anthony M.</li>
		<li class="fragment">Steven</li>
	</ul>

	<br/><br/>

	<h2 class="fragment">Front-End</h2>

	<ul>
		<li class="fragment">Gabin</li>
	</ul>
	-->
</section>

<section>
	<h2>Contexte</h2>

	<ul>
		<li><strong>Internalisation</strong> des équipes</li>
		<li>Nouvelle version, <strong>refonte complète</strong></li>
	</ul>
</section>

<section>
	<h2>Craintes</h2>

	<ul>
		<li>SEO</li>
		<li>Traduction</li>
		<li>Surcharge Front-End</li>
		<li>Performance, support</li>
	</ul>
</section>

<section>
	<h2>Principes & Objectifs</h2>

	<p>
		AngularJS n'est utilisé que pour <strong>améliorer "l'expérience utilisateur"</strong> mais <strong>pas en tant qu'outil central</strong>.
	</p>

	<ul>
		<li><strong>Utilisation au minimum</strong></li>
		<li>Simple, <strong>réutilisable</strong></li>
	</ul>
</section>

<section>
	<h2>Comment ?</h2>

	<ul>
		<li><strong>Directives</strong></li>
		<li>Création de <strong>"classes" plutôt que controlleur</strong></li>
		<li>Séparation et <strong>indépendance</strong></li>
	</ul>
</section>

<section>
	<h2>Process</h2>
	<p>Gestionnaire de tâches: <strong>Gulp</strong>.</p>

<pre><code>
/...
/publications
    /models
        PublicationModel.js
        CommentModel.js
    /services
        PublicationService.js
        CommentService.js
    /controllers
        SubmitPublicationController.js
        PublicationsController.js
    /directives
        PublicationAttachment.js
/...

</code></pre>
</section>

<section><pre><code>
app.controller("PublicationsController", [
  "$scope",
  "PublicationModel",
  function ($scope, PublicationModel) {
    var sth = null;

    $scope.publications = [];

    (function (publications) {
      angular.forEach(publications, function (publication) {
        $scope.publications.push(new PublicationModel(publication));
      });
    })(window.data.publications);
  }
]);

</code></pre></section>

<section><pre><code>
app.service("PublicationModel", [
    "PublicationService",
    function (PublicationService) {
        function PublicationModel (attrs) {
            angular.extend(this, attrs);
        }

        PublicationModel.prototype.like = function () {
            PublicationService.like(this.id);
        };

        return PublicationModel;
    }
]);

</code></pre></section>

<section><pre><code>
<article ng-repeat="publication in publications">
    {[ publication.content ]}
    <a ng-click="publication.like()">like</a>
</article>

</code></pre></section>

<section>
	<h2>Pour l'avenir...</h2>

	<ul>
		<li class="fragment">Tests</li>
		<li class="fragment">Minification</li>
		<li class="fragment">Maîtriser la performance</li>
	</ul>
</section>

<section data-background="cat.jpg">
	<h2>Merci !</h2>
</section>