@import 'normalize', 
        'foundation/settings',
        'foundation',
        'partials/variables',
        'partials/socials',
        'partials/mixins',
        'partials/hero',
        'partials/footer',
        'partials/sections';

@media #{$_xsmall-only} {
  html {
    font-size: 65%;
  }
}

@media #{$small-only} {
  html {
    font-size: 80%;
  }
}

.button {
  color: $secondary-color;
  box-shadow: 0 0 0 0 rgba( $primary-color, 1 );
  transition: all 300ms ease;
  
  &[disabled],
  &[disabled]:hover {
    background-color: lighten( #000, 60% );
    color: lighten( #000, 40% );
  }
  
  &:hover,
  &:focus {
    box-shadow: 0 0 0 10px rgba( $primary-color, 0 );
    background-color: $secondary-color;
    color: $primary-color;
  }
}

input[type="email"],
input[type="text"] {
  &.input__valid {
    background-color: lighten($success-color, 30%);
    border-color: $success-color;
  }
  
  &.input__error {
    background-color: lighten($alert-color, 30%);
    border-color: $alert-color;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  vertical-align: middle;
  
  &:before {
    vertical-align: middle;
  }
}

// g- stands for "global" (b- for block, e- for element, __ for modifiers)
.g-text-align-right {
  text-align: right;
}

.g-link {
  /*
  position: relative;
  
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    border-bottom: 2px solid;
    opacity: 0;
    transition: all 300ms ease;
  }
  
  &:hover {
    &:before {
      opacity: 1;
      bottom: 0;
    }
  }
  */
}