@import "mixins";
@import "settings";

$mainColor: #656565;
$mainFont: 'Lato', sans-serif;
$mainFontWeight: 400;

$headingFont: $mainFont;
$headingColor: #444;
$headingTextShadow: none;
$headingFontWeight: 700;
$headingFontStyle: italic;

$backgroundColor: #eee;

$linkColor: #f63958;
$linkColorHover: darken($linkColor, 20%);

$selectionBackgroundColor: $linkColor;

.reveal a:not(.image) { line-height: 1.3em; }
@mixin bodyBackground() { @include radial-gradient(darken($backgroundColor, 16%), $backgroundColor); }
@import "theme";