<section class="b-newsletter">
  <div class="row">
    <div class="columns">
      <h3>Much more stuff incoming...</h3>
      <p>Ideas can't stop pop in my head so if you won't miss any of these, subscribe to my newsletter (max 2 email/month).</p>
    </div>
  </div>
  
  <ul class="row b-newsletter-form">
    <li class="columns medium-6 large-3">
      <input type="text" id="newsletter-firstname" class="radius" placeholder="Firstname">
    </li>
    
    <li class="columns medium-6 large-3">
      <input type="text" id="newsletter-lastname" class="radius" placeholder="Lastname">
    </li>
    
    <li class="columns medium-6 large-3">
      <input type="email" id="newsletter-email" class="radius" placeholder="youremail@domain.tld">
    </li>
    
    <li class="columns medium-6 large-3">
      <input type="submit" id="newsletter-button" class="button radius postfix expand" value="Subscribe" disabled="true">
    </li>
  </ul>
  
  <div class="row">
    <div id="alert-box-parent" class="columns">
      <div id="newsletter-error" class="alert-box alert">An error occurred, please retry.</div>
      <div id="newsletter-success" class="alert-box success">Yay, you are subscribed!</div>
    </div>
  </div>
</section>


<!--
<section class="b-newsletter">
  <p class="b-human-form">
    My name is <span id="newsletter-firstname" class="e-content-editable" data-placeholder="firstname" contenteditable></span> <span id="newsletter-lastname" class="e-content-editable" data-placeholder="lastname" contenteditable></span> and my email is <span id="newsletter-email" class="e-content-editable" data-placeholder="youremail@domain.tld" contenteditable></span>.
  </p>
  
  <p><a id="newsletter-button" href="#" class="g-link">Keep me updated about future products!</a></p>
</section>
-->