<section class="b-newsletter">
  <p class="b-human-form">
    My name is <span id="newsletter-firstname" class="e-content-editable" data-placeholder="firstname" contenteditable></span> <span id="newsletter-lastname" class="e-content-editable" data-placeholder="lastname" contenteditable></span> and my email is <span id="newsletter-email" class="e-content-editable" data-placeholder="youremail@domain.tld" contenteditable></span>.
  </p>
  
  <p><a id="newsletter-button" href="#" class="g-link">Keep me updated about future products!</a></p>
</section>