@media print {
  .hero {
    margin: 0 auto;
    max-width: 620px;
    padding: 1rem;
  }

  .section {
    margin-top: 0;
  }

  .footer {
    display: none;
  }

  h1 {
    font-size: $h2-font-size;

    strong {
      text-shadow: none;
    }
  }
}
