html {
  box-sizing: border-box;
  font-size: $font-size-root;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  color: $text-color;
}

#{$headings} {
  font-family: $font-family-heading;
  line-height: $line-height-heading;
  font-weight: $font-weight-bold;
}

#{$h1} { font-size: $h1-font-size; }
#{$h2} { font-size: $h2-font-size; }
#{$h3} { font-size: $h3-font-size; }
#{$h4} { font-size: $h4-font-size; }
#{$h5} { font-size: $h5-font-size; }
#{$h6} { font-size: $h6-font-size; }

strong {
  font-weight: $font-weight-bold;
}