@function pow ($x, $n) {
  $ret: 1;

  @if $n >= 0 {
    @for $i from 0 to $n {
      $ret: $ret * $x;
    }
  } @else {
    @for $i from $n to 0 {
      $ret: $ret / $x;
    }
  }

  @return $ret;
}

@function ms ($n, $ratio, $base-font-size) {
  @return pow($ratio, $n) * $base-font-size;
}

@mixin nice-underline ($background-color, $underline-color, $border-width: 1px, $underline-bottom: 2px, $underline-width: 2px) {
  text-shadow:
          (-$border-width) (-$border-width) 0 $background-color,
          ($border-width)  (-$border-width) 0 $background-color,
          (-$border-width) ($border-width)  0 $background-color,
          ($border-width)  ($border-width)  0 $background-color;

  background-image: linear-gradient(to top,
          transparent 0,
          transparent $underline-bottom,
          $underline-color $underline-bottom,
          $underline-color ($underline-bottom + $underline-width),
          transparent ($underline-bottom + $underline-width));
}

@mixin list-unstyled ($padding: 0, $margin: 0) {
  list-style: none;
  padding: $padding;
  margin: $margin;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}