$font-size-root: 16px;
$font-size-base: 1rem;

$font-family-base: 'Lato', sans-serif;
$font-weight-base: 400;
$line-height-base: 1.6;

$font-weight-bold: 700;

$font-family-heading: 'Abril Fatface', cursive;
$line-height-heading: 1.2;
$font-weight-heading: $font-weight-bold;

//modular scale ratios
$ms-golden:           1.618;
$ms-minor-second:     1.067;
$ms-major-second:     1.125;
$ms-minor-third:      1.2;
$ms-major-third:      1.25;
$ms-perfect-fourth:   1.333;
$ms-augmented-fourth: 1.414;
$ms-perfect-fifth:    1.5;
$ms-minor-sixth:      1.6;
$ms-major-sixth:      1.667;
$ms-minor-seventh:    1.778;
$ms-major-seventh:    1.875;
$ms-octave:           2;
$ms-major-tenth:      2.5;
$ms-major-eleventh:   2.667;
$ms-major-twelfth:    3;
$ms-double-octave:    4;

$ms-ratio: $ms-minor-third;

$h1-font-size: ms(6, $ms-ratio, $font-size-base);
$h2-font-size: ms(4, $ms-ratio, $font-size-base);
$h3-font-size: ms(3, $ms-ratio, $font-size-base);
$h4-font-size: ms(2, $ms-ratio, $font-size-base);
$h5-font-size: ms(1, $ms-ratio, $font-size-base);
$h6-font-size: ms(0, $ms-ratio, $font-size-base);

$font-size-small: .8rem;

$h1: "h1, .h1";
$h2: "h2, .h2";
$h3: "h3, .h3";
$h4: "h4, .h4";
$h5: "h5, .h5";
$h6: "h6, .h6";
$headings: #{$h1, $h2, $h3, $h4, $h5, $h6};

$text-color: #444;

$spacing-gutter: 20px;