@mixin _parallax-background ( $src ) {
  background-image: url( $src );
  background-size: cover;
  background-attachment: fixed;
}

@mixin _product-item ( $color: #FF0000, $desaturate: 90% ) {
  a {
    background-color: desaturate( $color, $desaturate );
    
    &:hover {
      background-color: $color;
    }
  }
}