.block {
  @extend %container-inner-block;
  background-color: #fff;
  padding: $spacing-gutter;
  margin-bottom: $spacing-gutter;
}

.block__heading {
  @include clearfix;

  color: $gray-darker;
  font-family: $font-family-base;
  font-size: $font-size-base;
  text-transform: uppercase;
  margin: 0 0 $spacing-gutter 0;
  padding: 0 0 ($spacing-gutter / 2) 0;
  border-bottom: 2px solid $gray;

  &:first-child:last-child {
    margin-bottom: 0;
  }

  a {
    float: right;
  }
}