.footer {
  @extend %yellow-block;
  text-align: center;

  @media #{$sm-up} {
    text-align: left;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    border: 2px solid $gray;
    border-radius: 6px;
  }
}

.footer__contact {
  @extend %yellow-block-left;
  margin-bottom: $spacing-gutter;

  @media #{$sm-up} {
    float: left;
    margin-bottom: 0;
  }
}

.footer__socials {
  @extend %yellow-block-right;

  @media #{$sm-up} {
    float: right;
  }
}