.container {
  margin: auto;
  max-width: 1000px;
}

%container-inner-block {
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
}

%yellow-block {
  @extend %container-inner-block;
  @include clearfix;
  background-color: $yellow-primary;
  padding: ($spacing-gutter * 2) $spacing-gutter;

  a {
    &:hover,
    &:focus {
      border-bottom-color: $gray;
    }
  }
}

%yellow-block-left {
  margin: 0;
}

%yellow-block-right {
  @include list-unstyled;

  li {
    display: inline-block;
    margin-left: .4rem;

    &:first-child {
      margin-left: 0;
    }

    [class*="icon-"] {
      font-size: $h4-font-size;
      vertical-align: middle;
      line-height: 1;
      margin-right: .2rem;
      position: relative;
      top: .1rem;
    }
  }
}