.header {
  @extend %yellow-block;
  font-size: $font-size-base;
}

.header__fullname {
  @extend %yellow-block-left;
  font-family: $font-family-base;
}

.header__nav ul {
  @extend %yellow-block-right;
}

.header__fullname {
  font-size: inherit;
  font-weight: $font-weight-bold;

  a {
    color: $text-color;
  }
}