.project {
  @extend %container-inner-block;
  position: relative;
  margin-bottom: $spacing-gutter;
  background-color: #fff;
  padding: ($spacing-gutter * 4) $spacing-gutter $spacing-gutter $spacing-gutter;
  transition: all 150ms ease-in;

  &:hover {
    background-color: $yellow-primary;
    max-width: $container-max-width + ($spacing-gutter * 4);
    
    .project__description {
      color: white;
    }
  }
}

.project__link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0;
}

.project__title,
.project__description {
  margin: 0;
}

.project__title {
  color: $red-secondary;
}

.project__description {
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $gray-dark;
  transition: color 150ms ease-in;
}