/*---------------------------------------------*\
  project base component
\*---------------------------------------------*/

.project,
.project__title,
.project__description {
  transition: all 150ms ease-in;
}

.project {
  @extend %container-inner-block;
  position: relative;
  margin-bottom: $spacing-gutter;
  background-color: #fff;
  padding: ($spacing-gutter * 4) $spacing-gutter $spacing-gutter $spacing-gutter;
  border: 2px solid transparent;

  &:hover {
    background-color: $yellow-primary;
    max-width: $container-max-width + ($spacing-gutter * 4);
    
    .project__description {
      color: white;
    }
  }
}

.project__link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0;
}

.project__title,
.project__description {
  margin: 0;
}

.project__title {
  color: $red-secondary;
}

.project__description {
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $gray-dark;
}



/*---------------------------------------------*\
  specific styles
\*---------------------------------------------*/

@mixin project--variant ($id, $title, $desc, $bg, $border: transparent) {
  .project--#{$id}:hover {
    background-color: $bg;
    @content;

    @if $border != transparent {
      border-color: $border;
    }

    .project__title {
      color: $title;
    }

    .project__description {
      color: $desc;
    }
  }
}

@include project--variant($id: 'logicalornot', $title: #ffc302, $desc: #fff, $bg: #7642d0);
@include project--variant($id: 'reactivedesign', $title: #23cbbf, $desc: #859c9b, $bg: #fff) { border-bottom-color: #23cbbf; };
@include project--variant($id: 'reactivedemo', $title: #37b475, $desc: #8a8a8a, $bg: #fff, $border: #e0e0e0);
@include project--variant($id: 'theaterjs', $title: #ededed, $desc: #ededed, $bg: #222);