@keyframes blink {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.typejs {
  position: relative;
}

.typejs.typing:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #000;
  animation: blink 800ms infinite;
}

.typejs-heading {
  @extend .panel;
  font-size: 300%;
  padding: $relation-none;
}