.block {
  background-color: #fff;
  padding: $grid-gutter * 2;
  margin: 0 0 6px 0;

  .block__heading {
    @extend .text-center;
    font-size: 140%;
    text-transform: uppercase;
    padding-bottom: $relation-close;
    margin: 0 0 $grid-gutter 0;
    border-bottom: 2px solid $gray-lighter;
    color: $gray-lighter;
  }

  h1:first-child {
    margin-top: 0;
  }
}