.btn {
  display: inline-block;
  padding: $btn-padding;
  border-radius: $btn-radius;
  transition: all 300ms ease;
}

.btn--default { @include btn--default; }
.btn--primary { @include btn--primary; }
.btn--secondary { @include btn--secondary; }