.btn {
  display: inline-block;
  padding: $btn-padding;
  border-radius: $btn-radius;

  [class*="icon-"] {
    line-height: 1;
    vertical-align: middle;
  }
}

.btn--default { @include btn--default; }
.btn--primary { @include btn--primary; }
.btn--secondary { @include btn--secondary; }