.btn {
  display: inline-block;
  padding: $btn-padding;
  border-radius: $btn-radius;
  transition: all 300ms ease;
}

.btn--default {
  @include btn($color:$btn-default-color, $bg:$btn-default-bg, $border:$btn-default-border);
}

.btn--primary {
  @include btn($color:$btn-primary-color, $bg:$btn-primary-bg, $border:$btn-primary-border);
}

.btn--secondary {
  @include btn($color: $btn-secondary-color, $bg: $btn-secondary-bg, $border: $btn-secondary-border);
}