.footer {
  margin-top: $spacing-close;
}

.footer__container {
  padding-top: $spacing-close;
  border-top: $stroke-width solid $gray;
}

.footer__right {
  @include media-query($on-palm) {
    float: right;
  }
}
