.post {
  * + & {
    margin-top: $spacing-close;
  }
}

.post__title {
  margin: 0;
}

.post__meta {
  text-transform: uppercase;
}

.post-content {
  $shift-width: 1rem;

  padding: 0 $shift-width;
  max-width: calc(#{$content-width} + #{2 * $shift-width});

  blockquote {
    font-size: $larger-font-size;
    font-style: italic;
    margin: 0;
    padding: 0;
  }

  h2,
  blockquote {
    margin-left: -$shift-width;
    margin-right: -$shift-width;
  }
}
