.section {
  background-color: #fff;
  padding: $spacing-close;

  * + & {
    margin-top: $spacing-close;
  }
}

.section-title {
  text-transform: uppercase;
  color: $text-muted;
  font-size: $small-font-size;
  font-weight: $bold-font-weight;
  padding-bottom: $spacing-very-close;
  border-bottom: $stroke-width solid $gray;
}
