/*--------------------*\
  #HELPERS
\*--------------------*/

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: $gray;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}