---
layout: default
---

<header class="hero">
  <h1 itemscope itemtype="http://schema.org/Person" itemprop="description">
    I am <span itemprop="givenName">Gabin</span> <span itemprop="familyName">Aureche</span>, a <strong itemprop="jobTitle">Developer</strong> Obsessed with <strong>Side Projects</strong>.
    <meta itemprop="url" content="{{ site.url }}">
  </h1>
  <ul class="list-inline">
    {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}">
        <span class="icon-github"></span>
        github.com/{{ site.github_username }}
      </a>
    </li>
    {% endif %}
    {% if site.medium_username %}
    <li>
      <a href="https://medium.com/{{ site.medium_username }}">
        <span class="icon-medium"></span>
        medium.com/{{ site.medium_username }}
      </a>
    </li>
    {% endif %}
    {% if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <span class="icon-twitter"></span>
        twitter.com/{{ site.twitter_username }}
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{{ '/resume.html' | relative }}">
        <span class="icon-document"></span>
        Resume
      </a>
    </li>
  </ul>

</header>

<main class="container">
  <p>
    I'm constantly jumping from a side project to another, learning and discovering lots of cool stuff along the way.
  </p>

  <p>
    I'm sharing the best of it in my personal newsletter so don't miss out:
  </p>

  <form
    action="https://www.getrevue.co/profile/zhouzi/add_subscriber"
    method="post"
    target="_blank"
  >
    <div class="input-group">
      <div class="input-group__input">
        <input
          type="email"
          id="email"
          name="member[email]"
          placeholder="Email address (e.g john@doe.com)"
          aria-label="Email address (e.g john@doe.com)"
          class="input"
        />
      </div>

      <div class="input-group__button">
        <button
          type="submit"
          class="button button--primary"
        >
          Subscribe
        </button>
      </div>
    </div>
  </form>

  {% for sideProject in site.data.sideProjects %}
  <article
    class="side-project"
    itemscope
    itemtype="http://schema.org/WebApplication"
  >
    <h2 class="side-project__title">
      <span itemprop="name">
        {{ sideProject.name }}
      </span>
      <span
        class="side-project__description"
        itemprop="about"
      >
        {{ sideProject.description }}
      </span>
    </h2>
    <ul class="side-project__links">
      <li>
        <a
          href="{{ sideProject.main_cta.url }}"
          class="button button--primary"
          itemprop="url"
        >
          {{ sideProject.main_cta.name }}
        </a>
      </li>
      {% for cta in sideProject.secondary_ctas %}
      <li{% if cta.name == 'GitHub Repository' %} itemscope itemtype="http://schema.org/SoftwareSourceCode"{% endif %}>
        <a
          href="{{ cta.url }}"
          class="button button--secondary"
          {% if cta.name == 'GitHub Repository' %}itemprop="codeRepository"{% endif %}
        >
          {{ cta.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </article>
  {% endfor %}

  <section class="section">
    <div class="section-title">
      Posts
    </div>

    {% for post in site.posts %}
    <article class="post">
      <small class="post__meta">{{ post.date | date: "%b %-d, %Y" }}</small>
      <h2 class="post__title">
        {% if post.external %}
        <a href="{{ post.external.url }}">{{ post.title | escape }}</a>
        <small class="icon-link-external"></small>
        {% else %}
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {% endif %}
      </h2>
    </article>
    {% endfor %}
  </section>
</main>
