---
layout: default
---

<article itemscope itemtype="http://schema.org/Article">
  <div class="hero">
    <h1 itemprop="title">{{ page.title }}</h1>
  </div>

  <div class="container">
    {% if page.date %}
      <p>
        <time
          itemprop="datePublished"
          datetime="{{ page.date|date: '%Y-%m-%d' }}"
        >
          {{ page.date|date: '%B %d, %Y' }}
        </time>
      </p>
    {% endif %}

    {% if page.external %}
      <p>
        This post has been published on <a href="{{ page.external.url }}">{{ page.external.name }}</a>, please go to:
        <br>
        <a href="{{ page.external.url }}">{{ page.external.url }}</a>
      </p>
    {% else %}
      <div itemtype="articleBody">
        {{ content }}
      </div>
    {% endif %}

    {% unless page.external %}
      {% include disqus_comments.html %}
    {% endunless %}
  </div>
</article>
