*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  font-size: 90%;

  @media #{$sm-up} {
    font-size: 105%;
  }
}

body {
  font-family: $body-font-family;
  color: $body-color;
  background-color: $gray-lighter;
  line-height: $base-line-height;
}





/*--------------------*\
  #HEADINGS
\*--------------------*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  overflow: visible; // Makes the links' border-bottom appear.
}

h1, .h1 {
  font-size: $h1-font-size;
  margin: ($relation-none * 2) 0 $relation-none 0;
}

h2, .h2 {
  font-size: $h2-font-size;
  margin: $relation-none 0 ($relation-none / 2) 0;
}




p {
  margin: 0 0 $relation-none 0;
}

a {
  color: $link-color;
  text-decoration: none;
  padding: 2px 0;
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    color: $link-hover-color;
    border-color: $link-hover-color;
  }
}





.highlight  { border: 2px solid $gray-light; padding: $grid-gutter; margin: 0 0 $relation-none 0; }
pre { margin: 0; line-height: 1.4; }
small { font-size: 90%; }