*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;

  @media #{$on-palm} {
    font-size: 16px;
  }
}

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0 0 $spacing-close 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
}

h1 {
  font-size: $h1-font-size;

  strong {
    @include nice-underline($brand-secondary);
    color: $brand-color;
  }
}

h2 {
  font-size: $h2-font-size;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: darken($brand-color, 10%);
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 110%;
    vertical-align: text-top;
  }
}

small {
  font-size: $small-font-size;
}

ul {
  padding: 0 0 0 $spacing-close;
}
